django==1.8.3
django-bootstrap-toolkit==2.15.0
django-bootstrap3==6.2.2
django-crispy-forms==1.5.2
django-recaptcha==1.0.5
django-registration-redux==1.1
django-social-auth==0.7.28
django-widget-tweaks==1.4.1
DjangoUeditor==1.8.143

