{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}

    <meta property="wb:webmaster" content="28a0a9869da6aa36" />
    <link href="{% static 'css/parts/login.css' %}" rel="stylesheet">

    {% if user.is_authenticated %}
        <h1 style="padding:8px 0">You have already login in!</h1>
        <h3 style="padding-bottom:20px">
            Redirect to index for 3 seconds..
        </h3>
        <script>
            alert("Redirect to index for 2 seconds..");
            window.setTimeout("window.open('/', '_self')", 2000);
        </script>
    {% else %}
        <div class="" style="width:400px; max-width:100%;margin: 0 auto;text-align: center">
            <div style="">
                <h1 style="padding:8px 0">Login to your account</h1>
                <h4 style="padding-bottom:20px; color:grey;">
                    Don't have an account?
                    <label><a href="{% url 'registration_register' %}" class="accounts-modal__link">
                        <!--<span class="glyphicon glyphicon-ok"></span>-->
                        Sign up
                    </a></label>
                </h4>

                <div class="login-icons">
                    <a href="{% url 'socialauth_begin' 'facebook' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">
                        <i class="fa fa-facebook-square fa-4x"></i>
                    </a>
                    <a href="{% url 'socialauth_begin' 'github' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">
                        <i class="fa fa-github-square fa-4x"></i>
                    </a>
                    <a href="{% url 'socialauth_begin' 'google-oauth2' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">
                        <i class="fa fa-google-plus-square fa-4x"></i>
                    </a>
                    <!--<a href="{% url 'socialauth_begin' 'instagram' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">-->
                        <!--<i class="fa fa-instagram fa-4x"></i>-->
                    <!--</a>-->
                    <a href="{% url 'socialauth_begin' 'twitter' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">
                        <i class="fa fa-twitter-square fa-4x"></i>
                    </a>
                    <!--<a href="{% url 'socialauth_begin' 'instagram' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">
                        <i class="fa fa-weibo fa-4x"></i>
                    </a>-->
                </div>
            </div>

            <div class="accounts-modal__separator">
                <hr class="account-modal__separate-line">
                <span class="accounts-modal__separator-text">OR</span>
            </div>

            <div>
              {% if messages %}
                {% for msg in messages %}
                    <p class="error">{{ msg.message }} ({{ msg.extra_tags }})</p>
                {% endfor %}
              {% endif %}
              {% if error_msg %}
                <p>Details:</p>
                <p class="error">{{ error_msg }}</p>
                <p>Please try again <a href="/">Home</a></p>
              {% endif %}
            </div>

            <script>
                {% if form.message.errors %}
                    alert("{{ form.message.errors }}");
                {% endif %}
            </script>

            <form method="post" action=".">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "ok-circle" %} Login
                    </button>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button type="reset" class="btn btn-default">
                        {% bootstrap_icon "ok-default" %} Reset
                    </button>
                {% endbuttons %}

                <label><a href="{% url 'auth_password_reset' %}">Forget password?</a></label>
                <br>
            </form>

        </div>


    {% endif %}

    <script src="{% static 'js/parts/facebook_login.js' %}"></script>
{% endblock %}

