{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Login{% endblock %}

{% block body_block %}

    <script>
        {% if form.message.errors %}
            alert("{{ form.message.errors }}");
        {% endif %}

    </script>

    <form method="post" action=".">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "ok-circle" %} Submit
            </button>
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="reset" class="btn btn-default">
                {% bootstrap_icon "ok-default" %} Reset
            </button>
        {% endbuttons %}

        <a href="{% url 'auth_password_reset' %}">Forget password?</a><br><br><br>



        <!--<a class="btn btn-default" href="{% url 'registration_register' %}">Register</a>-->
        <h3>No account?</h3>
        <a href="{% url 'registration_register' %}" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-ok"></span> Sign up now</a>
        
    </form>

{% endblock %}