{% load staticfiles %}
{% load index %}
{% load get_item %}
<html>
    <head>
        <title>2016中国十佳劳伦斯冠军奖</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
        <link href="{% static 'z_test/wings_vote/wings.css' %}" rel="stylesheet">
    </head>

    <body style="padding-top: 0px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar" style="top:0; transition: all 0.5s ease;">
                    <ul class="nav nav-sidebar">
                        <li class="sidebar-brand">
                            <a href="#"> 奖项: </a>
                        </li>
                        {% for voting_item in voting_items %}
                            <li><a style="color: #000; font-weight: 600;" href="#voting_item{{ forloop.counter0 }}">{{ voting_item }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1>
                        2016中国十佳劳伦斯冠军奖 投票趋势!
                        <small><a href="http://survey.sports.sina.com.cn/result/115601.html" target="_blank">(source)</a></small>
                    </h1>
                    <div>
                        {% for voting_item in voting_items %}
                            <hr id="voting_item{{ forloop.counter0 }}">
                            <h4 href="javascript:;">{{ voting_item }}</h4>
                            <canvas width="800" height="400" id="myChart{{ forloop.counter0 }}"></canvas>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>



        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% for voting_item in voting_items %}
        <script type="text/javascript">
            $(function() {
                var ctx = $("#myChart{{ forloop.counter0 }}").get(0).getContext("2d");
                var chart_data = {
                    labels: {{ labels|safe }},
                    datasets: [
                        {% for person in persons|index:forloop.counter0 %}
                        {
                            label: '{{ person }}',
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba({{ colors|index:forloop.counter0 }},0.4)",
                            borderColor: "rgba({{ colors|index:forloop.counter0 }},1)",
                            borderCapStyle: 'butt',
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba({{ colors|index:forloop.counter0 }},1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba({{ colors|index:forloop.counter0 }},1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: {{ final_result|get_item:voting_item|get_item:person }},
                            spanGaps: false,
                        },
                        {% endfor %}
                    ]
                };

                new Chart(ctx, {
                    type: 'line',
                    data: chart_data,
                    options: {
                        responsive: true,
                    }
                });
            });


        </script>
        {% endfor %}

    </body>
</html>