{% load staticfiles %}
{% load index %}
{% load get_item %}
<html>
    <head>
        <title>django-chartjs line chart demo</title>
        <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
    </head>
    <body style="padding-left: 50px">
        <h1>
            Voting data trend!
            <a href="http://survey.sports.sina.com.cn/result/115601.html">(sina source)</a>
        </h1>

        {% for voting_item in voting_items %}
            <a href="#voting_item{{ forloop.counter0 }}">{{ voting_item }}</a>
            <br>
        {% endfor %}
        <br>

        {% for voting_item in voting_items %}
            <a id="voting_item{{ forloop.counter0 }}">{{ voting_item }}</a>
            <canvas id="myChart{{ forloop.counter0 }}" width="800" height="500"></canvas>
            <br>
        {% endfor %}


        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        {% for voting_item in voting_items %}
        <script type="text/javascript">
            var ctx = $("#myChart{{ forloop.counter0 }}").get(0).getContext("2d");
            var chart_data = {
                labels: {{ labels|safe }},
                datasets: [
                    {% for person in persons|index:forloop.counter0 %}
                    {
                        label: '{{ person }}',
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: {{ final_result|get_item:voting_item|get_item:person }},
                        spanGaps: false
                    },
                    {% endfor %}
                ]
            };

            new Chart(ctx, {
                type: 'line',
                data: chart_data,
                options: {
                    responsive: false
                }
            });

        </script>
        {% endfor %}
    </body>
</html>