{% if cats %}
    {% for c in cats %}
        <li class="cat">
            <a href="{% url 'category'  c.slug %}">
                <strong>{{ c.no }}</strong>({{ c.likes }} likes)<br>
                        {{ c.name }}
            </a>
        </li>
    {% endfor %}
{% elif subs %}
    {% for c in subs %}
        {% if c == act_sub %}
            <li class="active cat" > {% else  %} <li class="cat">
        {% endif %}
        <a href="{% url 'subject'  c.slug %}">
            <strong>{{ c.school_en }}</strong>
            <span class="likes">({{ c.likes }} likes)</span><br>
            {{ c.name }}
        </a></li>
    {% endfor %}
    <li><a class="search_pointer"><strong class="grey">Search for courses..</strong></a>
{% else %}
    <li> <a><strong>Nothing.. </strong><br>(Please input number or key words) </a></li>
{% endif %}
