{% load staticfiles %}

<head>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'js_plugins/gridloading/css/default.css' %}" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'js_plugins/gridloading/css/component.css' %}" />
    <script src="{% static 'js_plugins/gridloading/js/modernizr.custom.js' %}"></script>
    <link href="{% static 'css/parts/subs_cats.css' %}" rel="stylesheet">
</head>

    <div>
        {% if not cats %}
            <strong >There are no course present.</strong>
        {% endif %}
    </div>
    <div id="sub_cats_container">
        <ul class="grid effect-2" id="grid">
            {% if user.is_authenticated %}
                <li>
                    <!--<a href="/rango/subject/{{ sub_name_slug }}/add_category/">-->
                    <a class="small_box" href="{% url 'add_category' sub_name_slug %}">
                        <strong>Add a new course</strong>
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="small_box" href="{% url 'auth_login' %}">
                        <strong>Login to add a new course</strong>
                    </a>
                </li>
            {% endif %}
            {% if cats %}
                {% for c in cats %}
                    <li>
                        <a class="small_box" href="{% url 'category' c.slug %}">
                            <strong>{{ c.no }}</strong>
                            <span class="likes">({{ c.likes }} likes)</span><br>
                            {{ c.name }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <!--<strong >There are no course present.</strong>-->
            {% endif %}
        </ul>
    </div>





<script src="{% static 'js_plugins/gridloading/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js_plugins/gridloading/js/imagesloaded.js' %}"></script>
<script src="{% static 'js_plugins/gridloading/js/classie.js' %}"></script>
<script src="{% static 'js_plugins/gridloading/js/AnimOnScroll.js' %}"></script>
<script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
    } );
</script>