<!--<a href="#" style="text-align:center" class="btn btn-default btn-block"><span class="glyphicon glyphicon-search"></span> Search</a>-->
<div class="filter_search">
    <button id="filter_search_switch" onclick="show_filter_search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</div><!-- /.col-lg-6 -->

<!-- Single button -->
<div class="btn-group filter_left">
    <div class="btn-group" role="group" aria-label="...">
        <a onclick="sub_filter(0)" id="filter_btn_0" class="btn btn-default" href="{% url 'subject' sub_name_slug %}?order=0" role="button">answers</a>
        <a onclick="sub_filter(1)" id="filter_btn_1" class="btn btn-default" href="{% url 'subject' sub_name_slug %}?order=1" role="button">likes</a>
        <!--<a onclick="sub_filter(2)" id="filter_btn_2" class="btn btn-default" href="{% url 'subject' sub_name_slug %}?order=2" role="button">level</a>-->
        <div class="btn-group">
          <button id="filter_btn_2" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            level&nbsp <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="min-width:95px">
            <li><a onclick="sub_filter(2)" href="{% url 'subject' sub_name_slug %}?order=20">level 0</a></li>
            <li><a onclick="sub_filter(2)" href="{% url 'subject' sub_name_slug %}?order=21">level 1</a></li>
            <li><a onclick="sub_filter(2)" href="{% url 'subject' sub_name_slug %}?order=22">level 2</a></li>
            <li><a onclick="sub_filter(2)" href="{% url 'subject' sub_name_slug %}?order=23">level 3</a></li>
            <li role="separator" class="divider"></li>
            <li><a onclick="sub_filter(2)" href="{% url 'subject' sub_name_slug %}?order=2">level all</a></li>
          </ul>
        </div>
    </div>
</div>

<script>
    sub_filter('{{ order }}');
</script>