{% extends 'base.html' %}

{% load bootstrap3 %}

{% load staticfiles %}

{% block title %}Add Page{% endblock %}

{% block body_block %}
    <form id="category_page" method="post" action="/rango/category/{{ category_name_slug }}/add_cat_page/">
        {% if category %}
            <h2 class="form-signin-heading">Add a Page to <a href="/rango/category/{{category.slug}}/"> {{ category.name }}</a></h2>

            <script>alert({% bootstrap_form_errors form %});</script>
            {% csrf_token %}
            {% bootstrap_form_errors form %}

            <!--{% for hidden in form.hidden_fields %}-->
                <!--{{ hidden }}-->
            <!--{% endfor %}-->

            <!--{% for field in form.visible_fields %}-->
                <!--{{ field.errors }}-->
                <!--{{ field.help_text }}<br/>-->
                <!--{{ field }}<br/>-->
            <!--{% endfor %}-->

            {% bootstrap_form_errors form %}
            {% bootstrap_form form %}
            <br>

            <!--<input type="submit" name="submit" value="Create Page" />-->
            <button class="btn btn-primary" type="submit" name="submit">Add Page</button>


        {% else %}
            The specified category {{ . }} does not exist!
        {% endif %}
    </form>
{% endblock %}

