{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ category.no }} - {{ category.name }}{% endblock %}

{% block body_block %}
    <script>
        $("body").attr('class', 'index_bg');
    </script>

    <div class="blur" style="height:100%;"></div>
    <div class="cat_content">
        {% if category %}
            <div class="box">
                <h1>{{ category.name }} &nbsp;<small>{{ category.no }}</small></h1>
                <div class="likes">
                    {% include 'rango/parts/cat_like.html' %}
                </div>

                <div>
                    {% include 'rango/parts/cat_pages.html' %}
                </div>
            </div>
            <div class="sep20"></div>

            <div class="box">
                <div class="answer">
                    {% include 'rango/parts/answer.html' %}
                </div>
            </div>
            <div class="sep20"></div>

            <div class="box">
                {% include 'rango/parts/editor.html' %}
            </div>
            <div class="sep20"></div>
            <div class="sep20"></div>
        {% else %}
            The specified category {{ . }} does not exist!
        {% endif %}

    </div>

{% endblock %}
