{% if cats %}
    <ul class="nav nav-sidebar">
        <li id="nav_search">
            <a class="search_pointer"><strong><span class="glyphicon glyphicon-search"></span> Search </strong></a>
        </li>
        <li style="display:none;" id="nav_search_content">
            <a>
                <input  class="form-control" type="text" name="suggestion" value="" id="suggestion" />
            </a>
        </li>
    </ul>
    <ul class="nav nav-sidebar" id="cats">
        <!--<li><a><strong class="grey">Hottest Courses</strong></a></li>-->
        {% for c in cats %}
            {% if c == act_cat %}
                <li class="active cat" > {% else  %} <li class="cat">
            {% endif %}
            <a href="{% url 'category'  c.slug %}">
                <strong>{{ c.no }}</strong>
                <span class="likes">({{ c.likes }} likes)</span><br>
                {{ c.name }}
            </a></li>
        {% endfor %}
        <li><a class="search_pointer"><strong class="grey">Search for more..</strong></a>
{% else %}
    <li> <strong >There are no category present.</strong></li>
    </ul>
{% endif %}

