{% extends 'base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{{ form.media }}

{% block title %}Edit{% endblock %}

{% block body_block %}
    <form id="category_form" method="post" action="/rango/category/{{ cat_name_slug }}/edit_answer/{{ answer_id }}">
        {% csrf_token %}

        {{ form }}
        <!--<input type="submit" name="submit" value="Create Category" />-->
        <input type="hidden" name="answer_id" value="{{ answer_id }}">
        <input type="hidden" name="next_page" value="{{ next_page }}">
        <br>
        <button class="btn btn-primary" type="submit" name="submit">submit</button>
    </form>
{% endblock %}

