{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
    <!--<div class="page-header" style="">-->
        <!--{% if user.is_authenticated %}-->
                <!--<h1>Hello {{ user.username }}!</h1>-->
        <!--{% else %}-->
                <!--<h1>Hello friend! &nbsp;-->
                    <!--<a style="text-decoration: underline;"-->
                       <!--href="{% url 'auth_login' %}?next={{request.path}}">Login now.</a>-->
                <!--</h1>-->
        <!--{% endif %}-->
    <!--</div>-->

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading"><b>Major</b></h4>
                    <p class="list-group-item-text">Click to see all courses</p>
                </a>

                {% if subs %}
                    {% for sub in subs %}
                        <a class="list-group-item" href="{% url 'subject' sub.slug %}">
                            <b>{{ sub.name }}</b>
                        </a>
                    {% endfor %}
                {% else %}
                    <strong>There are no Majors present.</strong>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading"><b>Courses</b></h4>
                    <p class="list-group-item-text">Order by answers</p>
                </a>

                {% if categories %}
                    {% for c in categories %}
                        <a class="list-group-item" href="{% url 'category' c.slug %}">
                            {{ category.name }}
                           <strong>{{ c.no }}</strong>
                            <span class="likes">(
                                <i class="fa fa-commenting-o"></i> {{ c.answer_count }}
                                &nbsp
                                <i class="fa fa-thumbs-o-up"></i> {{ c.likes }}
                                &nbsp
                                lvl {{ c.level }})
                            </span><br>
                                {{ c.name }}
                        </a>
                    {% endfor %}
                        <a href="#" class="list-group-item">
                            more..
                        </a>
                {% else %}
                    <strong>There are no courses present.</strong>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}