{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
    <!--<div class="page-header" style="">-->
        <!--{% if user.is_authenticated %}-->
                <!--<h1>Hello {{ user.username }}!</h1>-->
        <!--{% else %}-->
                <!--<h1>Hello friend! &nbsp;-->
                    <!--<a style="text-decoration: underline;"-->
                       <!--href="{% url 'auth_login' %}?next={{request.path}}">Login now.</a>-->
                <!--</h1>-->
        <!--{% endif %}-->
    <!--</div>-->

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Major</h3>
                </div>
            </div>

            {% if subs %}
                <ul  class="list-group">
                    {% for sub in subs %}
                        <li class="list-group-item">
                            <a href="{% url 'subject' sub.slug %}">{{ sub.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no Majors present.</strong>
            {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Courses(Order by answers)</h3>
                </div>
            </div>
            {% if categories %}
                <ul class="list-group">
                    {% for c in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'category' c.slug %}">
                                {{ category.name }}
                               <strong>{{ c.no }}</strong>
                                <span class="likes">(
                                    <i class="fa fa-commenting-o"></i> {{ c.answer_count }}
                                    &nbsp
                                    <i class="fa fa-thumbs-o-up"></i> {{ c.likes }}
                                    &nbsp
                                    lvl {{ c.level }})
                                </span><br>
                                    {{ c.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no courses present.</strong>
            {% endif %}
        </div>

    </div>

{% endblock %}