{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
    <script>
        $("body").attr('class', 'index_bg');
    </script>
    <!--<div class="page-header" style="">-->
        <!--{% if user.is_authenticated %}-->
                <!--<h1>Hello {{ user.username }}!</h1>-->
        <!--{% else %}-->
                <!--<h1>Hello friend! &nbsp;-->
                    <!--<a style="text-decoration: underline;"-->
                       <!--href="{% url 'auth_login' %}?next={{request.path}}">Login now.</a>-->
                <!--</h1>-->
        <!--{% endif %}-->
    <!--</div>-->

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-7 placeholder">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="list-group">
                    <a class="list-group-item active">
                        <h4 class="list-group-item-heading"><b>Programs</b></h4>
                        <p class="list-group-item-text">Choose ur program to see all courses</p>
                    </a>

                    {% if subs %}
                        {% for sub in subs %}
                            <a class="list-group-item" href="{% url 'subject' sub.slug %}">
                                <b>{{ sub.name }}</b>
                            </a>
                        {% endfor %}
                    {% else %}
                        <strong>There are no Majors present.</strong>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="list-group" id="index-comments-list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading"><b>Latest comments</b></h4>
                </a>

                {% if answers %}
                    {% include "rango/parts/index/answers-list-group.html" %}
                {% else %}
                    <strong>There are no comment present.</strong>
                {% endif %}
            </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5 placeholder">
            <div class="list-group" id="index-courses-list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading"><b>Courses</b></h4>
                    <p class="list-group-item-text">Sort by sum of comments</p>
                </a>

                {% if courses %}
                    <a class="list-group-item">search(todo)</a>
                    {% include "rango/parts/index/courses-list-group.html" %}
                {% else %}
                    <strong>There are no courses present.</strong>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}

