{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<script>
        {% if login_info %}
                alert("{{ login_info }}");
        {% endif %}

</script>


<h1>Login to Rango</h1>

<!--<form id="login_form" method="post" action="/rango/login/">-->
    <!--{% csrf_token %}-->
    <!--<h2 class="form-signin-heading">Please sign in</h2>-->

    <!--<div class="input-group col-xs-4">-->
        <!--<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text"-->
               <!--required autofocus=""/>-->
    <!--</div>-->

    <!--<div class="input-group col-xs-4">-->
        <!--<input type="password" class="form-control" placeholder="Password" id="id_password" name="password" required/>-->
    <!--</div>-->

    <!--<button class="btn btn-primary btn-sm" type="submit" value="Submit"/>-->
    <!--Sign in</button>-->
<!--</form>-->

<form class="form-horizontal"  id="login_form" method="post" action="/rango/login/">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username" class="col-sm-2 control-label">Username</label>

        <div class="col-sm-6">
            <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
        </div>
    </div>
    <div class="form-group">
        <label for="id_password" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-6">
            <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" required/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>
{% endblock %}
