<ul class="nav nav-sidebar" id="nav_content">
    <!--<li><a><strong class="grey">Hottest Courses</strong></a></li>-->
    {% if subs %}
        {% for s in subs %}
            {% if s == act_sub %}
                <li class="active cat" >
            {% else  %}
                <li class="cat">
            {% endif %}

            <a href="{% url 'subject'  s.slug %}">
                <strong>{{ s.school_en }}</strong>
                <span class="likes">({{ s.likes }} likes)</span><br>
                {{ s.name }}
            </a></li>
        {% endfor %}
        <li><a class="search_pointer"><strong class="grey">Search for courses..</strong></a>
    {% else %}
        <li> <strong >There are no major present.</strong></li>
    {% endif %}

</ul>
