{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ subject.name }}{% endblock %}

{% block body_block %}
    <link href="{% static 'css/parts/sub_filter.css' %}" rel="stylesheet">
    <script src="{% static 'js/parts/sub_filter.js' %}" type="text/javascript"></script>

    <div class="blur" style="height:100%; width"></div>
    <div class="cat_content">
        {% if subject %}
            <div class="box">
                <h1>{{ subject.name }}</h1>
                <div>
                    <h4><a href="{{ subject.url }}" target="_blank">Homepage</a></h4>
                </div>
                {% include 'rango/parts/facebook_share.html' %}
            </div>
            <div class="sep20"></div>

            <div class="box filter_search_box" style="margin-bottom:10px">
                {% include 'rango/parts/subject/search.html' %}
            </div>

            <div class="box">
                <div class="answer_filter">
                    {% include 'rango/parts/subject/sub_answer_filter.html' %}
                </div>
                <div class="cats">
                    {% include 'rango/parts/subject/cats.html' %}
                </div>
            </div>

        {% else %}
            The specified category {{ . }} does not exist!
        {% endif %}

    </div>

{% endblock %}