{% load staticfiles %}
{% load tz %}

<script src="{% static 'js/parts/answer.js' %}" type="text/javascript"></script>
<link href="{% static 'css/parts/answer.css' %}" rel="stylesheet">

{% if answers %}
<div class="zh-answers-title">
    <div id="zh-answers-filter" class="answers-sorter">

    </div>
    <h3 data-num="{{ answers|length }}" id="zh-question-answer-num">{{ answers|length }} answers</h3>
</div>


{% for answer in answers %}
    <div class="cell">
        <div class="zm-votebar version-classic" data-version="classic">
            {% if user.is_authenticated %}
                {% if answer.is_liked > 0 %}
                    <button onclick="button_up(this)" class="up pressed" data-ans_id="{{ answer.id }}" aria-pressed="true" title="赞同">
                {% else %}
                    <button onclick="button_up(this)" class="up" data-ans_id="{{ answer.id }}" aria-pressed="false" title="赞同">
                {% endif %}
            {% else %}
                    <button onclick="alert('Login to like this answer');" class="up" data-ans_id="{{ answer.id }}" aria-pressed="false" title="赞同">
            {% endif %}
                            <i class="icon vote-arrow"></i>
                            <span class="count">{{ answer.likes }}</span>
                            <span class="label sr-only">赞同</span>
                        </button>

            {% if user.is_authenticated %}
                {% if answer.is_disliked > 0 %}
                    <button onclick="button_down(this)" class="down pressed" data-ans_id="{{ answer.id }}" aria-pressed="false" title="反对，不会显示你的姓名">
                {% else %}
                    <button onclick="button_down(this)" class="down" data-ans_id="{{ answer.id }}" aria-pressed="false" title="反对，不会显示你的姓名">
                {% endif %}
            {% else %}
                    <button onclick="alert('Login to like this answer');" class="down" data-ans_id="{{ answer.id }}" aria-pressed="false" title="反对，不会显示你的姓名">
            {% endif %}
                        <i class="icon vote-arrow"></i>
                        <span class="label sr-only">反对，不会显示你的姓名</span>
                    </button>
        </div>

        <div>
            <div class="fr">
                &nbsp; &nbsp;
                <span class="no">{{ forloop.counter }}</span>
            </div>

            <strong><a href="/rango/member/{{ answer.author }}" class="dark">{{ answer.author }}</a></strong>&nbsp; &nbsp;
            <span class="fade_answer small">{{ answer.post_date|localtime }}</span>
        </div>

        <div style="height:0px"></div>
        <div>
            <a class="likes_person">{{ answer.like_users_str }}</a>
        </div>
        <div style="height:3px"></div>

        <div id="answer_content{{ answer.id }}" class="reply_content">
            {{ answer.content|safe }}
        </div>

        {% if user == answer.author %}
        <div class="edit">
            <a href="/rango/category/{{ cat_name_slug }}/edit_answer/{{ answer.id }}">
                <i class="fa fa-pencil-square-o"></i>edit</a>
            &nbsp;
            <a style="cursor:pointer" onclick="delete_answer({{ answer.id }})">
                <i class="fa fa-times"></i>delete</a>
        </div>
        {% endif %}
    </div>
{% endfor %}

{% else %}
    <span class="more">No answers currently in this course.</span>
{% endif %}


