{% load staticfiles %}
{% load tz %}
<script src="{% static 'js/parts/answer.js' %}"></script>
<link href="{% static 'css/parts/answer.css' %}" rel="stylesheet">

<h3>Anwsers</h3>
{% if answers %}
<div style="border-bottom:1px solid #e2e2e2;"></div>
{% for answer in answers %}
    <div class="cell">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td width="48" valign="top" align="center">
                        <img src="{% static 'images/avatar/default.png' %}" class="avatar" border="0" align="default">
                    </td>
                    <td width="10" valign="top"></td>
                    <td width="auto" valign="top" align="left">
                        <div class="fr"> &nbsp; &nbsp;   
                            <span class="no">{{ forloop.counter }}</span>
                        </div>
                        <div class="sep3"></div>
                        <strong><a href="/member/joshz" class="dark">{{ answer.author }}</a></strong>&nbsp; &nbsp;
                        <span class="fade_answer small">{{ answer.post_date|localtime }}</span>
                        <div class="sep5"></div>
                        <div class="reply_content">
                            {{ answer.content|safe }}

                        </div>
                        <div class="edit">
                            <a href="#" onclick="edit_answer({{ answer.id }})">edit</a>
                            <a href="#" onclick="delete_answer({{ answer.id }})">delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endfor %}
{% else %}
    <span class="more">No answers currently in this class.</span>
{% endif %}




