{% load staticfiles %}
{% load tz %}

<script src="{% static 'js/parts/answer.js' %}"></script>
<link href="{% static 'css/parts/answer.css' %}" rel="stylesheet">

{% if answers %}
<div class="zh-answers-title">
    <div id="zh-answers-filter" class="answers-sorter">

    </div>
    <h3 data-num="{{ answers|length }}" id="zh-question-answer-num">{{ answers|length }} answers</h3>
</div>


{% for answer in answers %}
    <div class="cell">
        <div class="zm-votebar version-classic" data-version="classic">
            <button onclick="button_up(this)" class="up" data-ans_id="{{ answer.id }}" aria-pressed="false" title="赞同">
                <i class="icon vote-arrow"></i>
                <span class="count">0</span>
                <span class="label sr-only">赞同</span>
            </button>
            <button onclick="button_down(this)" class="down" data-ans_id="{{ answer.id }}" aria-pressed="false" title="反对，不会显示你的姓名">
                <i class="icon vote-arrow"></i>
                <span class="label sr-only">反对，不会显示你的姓名</span>
            </button>
        </div>

        <div>
            <div class="fr">
                &nbsp; &nbsp;
                <span class="no">{{ forloop.counter }}</span>
            </div>

            <strong><a href="/member/joshz" class="dark">{{ answer.author }}</a></strong>&nbsp; &nbsp;
            <span class="fade_answer small">{{ answer.post_date|localtime }}</span>
        </div>

        <div class="sep5"></div>
        <div id="answer_content{{ answer.id }}" class="reply_content">
            {{ answer.content|safe }}
        </div>

        {% if user == answer.author %}
        <div class="edit">
            <a href="{% url 'editor' %}?answer_id={{ answer.id }}&next={{request.path}}">
                <i class="fa fa-pencil-square-o"></i>edit</a>
            &nbsp;
            <a style="cursor:pointer" onclick="delete_answer({{ answer.id }})">
                <i class="fa fa-times"></i>delete</a>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% else %}
    <span class="more">No answers currently in this class.</span>
{% endif %}




