

{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>

<button id="liked" style="display:none" data-catid="{{category.id}}" class="btn btn-info btn-xs active">
    <span class="glyphicon glyphicon-heart"></span> liked
</button>
<button  id="likes" style="display:none" data-catid="{{category.id}}" class="btn btn-primary btn-xs active">
    <span class="glyphicon glyphicon-heart"></span> like
</button>

{% if category.likes > 1 %}
    <span class="more">
        <strong id="like_count">{{ category.likes }}</strong>
        people like this course
    </span>
{% elif category.likes == 1 %}
    <span class="more">
        <strong id="like_count">{{ category.likes }}</strong>
        people likes this course
    </span>
{% else  %}
    <span class="more"><strong id="like_count"></strong> T^T no one likes</span>
{% endif %}


<script>
    {% if is_liked %}
        $('#likes').hide();$('#liked').show();
    {% else %}
        $('#liked').hide();$('#likes').show();
    {% endif %}


    // likes function
    {% if user.is_authenticated %}
        $('#likes').click(function(){
            var catid;
            catid = $(this).attr("data-catid");
            $.get('/rango/like_category/', {category_id: catid}, function(data){
               $('#like_count').html(data);
               $('#likes').hide();
               $('#liked').show();
               alert('thank u for your like~');
            });
        });

        $('#liked').click(function(){
            var catid;
            catid = $(this).attr("data-catid");
            $.get('/rango/dislike_category/', {category_id: catid}, function(data){
               $('#like_count').html(data);
               $('#liked').hide();
               $('#likes').show();
               alert('Hoping u can like me again~')
            });
        });
    {% else %}
        $('#likes').click(function(){
            alert("Login to like this course.")
        });
    {% endif %}

</script>