<li>
    <form class="form-inline form-inline-sm" id="user_form" method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <!-- Display the search form elements here -->
        <input class="form-control input-sm" type="text" size="12" name="query" value="" id="query" />
        <input class="btn btn-primary input-sm" type="submit" name="submit" value="GO" />
        <br />
    </form>

    <div class="">
        {% if result_list %}
            <h5 class="panel-title">Results</h5>
            <!-- Display search results in an ordered list -->
                <div class="list-group">
                    {% for result in result_list %}
                        <div class="list-group-item">
                            <h6 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h6>
                            <p class="list-group-item-text">{{ result.summary }}</p>
                        </div>
                    {% endfor %}
                </div>
        {% endif %}
    </div>

</li>