<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="wb:webmaster" content="28a0a9869da6aa36" />
    <meta name="google-site-verification" content="9F1zf5IIE7coSy_NQppJRkUTL1AEiIuIYymgRhj24xA" />

    {% load staticfiles %}
    {% load rango_extras %}

    {{ form.media }}

    <title>UNSW - {% block title %}^^{% endblock %}</title>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'js_plugins/gridloading/css/default.css' %}" />
    <link rel="stylesheet" href="{% static 'js_plugins\font-awesome-4.5.0\css\font-awesome.min.css' %}">

</head>

{% if index %}
<body class="index_bg">
{% else %}
<body class="other_bg">
{% endif %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="z-index: 9999">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/rango/">UNSW COMP </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}
                        <li><a href="{% url 'member' user.username %}">
                            {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
                        </a></li>
                        <li><a href="{% url 'auth_logout' %}?next={{request.path}}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'registration_register' %}?next={{request.path}}">Register Here</a></li>
                        <li><a href="{% url 'auth_login' %}?next={{request.path}}">Login</a></li>
                    {% endif %}

                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-2 sidebar">
                {% include 'rango/parts/nav_search.html' %}
                {% block side_block %}
                    {% get_subject_list subject %}
                {% endblock %}

                {% comment %} {% block search_block %}
                    {% include 'rango/parts/search_nav.html' %}
                {% endblock %}{% endcomment  %}

                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
                <div>
                    {% block body_block %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/rango-ajax.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>-->
    <!--<script src="{% static 'js/api.js' %}"></script>-->

</body>
</html>


{% include 'rango/analyse/baidu_analyse.html' %}
<!--{% include 'rango/analyse/google_analyse.html' %}-->